@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "./DSATheme.css";

/*
 this allows us to use a newer/advanced css feature if the browser supports it.
 this lets us stylishly animate our summary elements
 */
:root {
	interpolate-size: allow-keywords;
}

@layer base {
	article {
		@apply @container flex grow flex-col bg-white/90 dark:bg-dsa-black/90;
	}

	/* the following rules for details are to animate them when opening */

	details {
		@apply overflow-hidden bg-white dark:bg-dsa-black;
	}

	details::details-content {
		block-size: 0;
		transition:
			block-size 1s,
			content-visibility 1s;
		transition-behavior: allow-discrete;
	}

	details:open::details-content {
		block-size: auto;
		@apply dark:bg-dsa-black;
	}
}

@layer components {
	.palette-sibling {
		@apply bg-dsa-red4/65 dark:bg-dsa-black4/65;
	}
}

.indent-article p {
	@apply indent-8;
}

.prose h1 > a {
	@apply no-underline;
}

.prose a {
	@apply decoration-dsa-red1;
}

.prose blockquote {
	@apply mb-0 h-fit border-l-dsa-red p-2 pr-1 dark:border-l-dsa-red1 dark:bg-dsa-black1;
}

.prose blockquote a {
	@apply decoration-dsa-red1;
}

.prose p a {
	@apply font-bold decoration-dsa-red1 hover:underline dark:text-white;
}

.prose cite a {
	@apply font-bold decoration-dsa-red1;
}

.prose figcaption {
	@apply bg-white/50 p-2 text-sm text-dsa-black dark:bg-dsa-black1 dark:text-white;
}
.prose figure a {
	@apply decoration-dsa-red1;
}

.references a {
	@apply break-all;
}

nav li.searchIcon {
	display: flex;
	align-items: self-end;
}

nav li.searchIcon img {
	height: 1em;
	margin-bottom: 2px;

	@variant dark {
		filter: brightness(0) saturate(100%) invert(40%) sepia(67%) saturate(4633%) hue-rotate(334deg)
			brightness(105%) contrast(88%);
	}
}

#searchbox {
	background-color: transparent;
}

#searchbox:popover-open {
	position: fixed;
	top: 3.8em;
	margin: 0 auto;
}

.search {
	width: 40em;
	margin: auto;
	background-color: rgb(0, 0, 0, 0.8);
	z-index: 10;
	padding: 0.5em;
	border-radius: 0 0 0.5em 0.5em;
	overflow-y: hidden;
	max-height: 75vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

.search p.instructions {
	color: white;
	text-align: center;
	margin-bottom: 0.5em;
}

.search p.instructions img {
	height: 1em;
	display: inline;
	margin-bottom: 1px;
}

.search input {
	margin: auto;
}

.search .results {
	color: white;
}

.search .results li {
	margin: 0.2em 0;
	padding: 0.2em;
}

.search .results li:hover {
	background-color: rgb(255, 255, 255, 0.1);
}

.search .results p {
	font-size: 90%;
	padding: 0 0.5em 0 0.5em;
	margin: 0.1em 0 0.1em 1.5em;
	border-left: 3px solid #cccccc;
}

.search .results img {
	height: 1.5em;
	display: inline-block;
	margin-top: -5px;
}

.search .results mark {
	/* dsa-red1 */
	background-color: rgba(240, 76, 83, 0.8);
}
